body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

h1,h2 {
    text-align: center;
}
.top-bar {
    display:flex;
}
.left-bar {
    display: flex;
    justify-content:flex-start;
    width:50%;
    gap:20px ;
}
.right-bar {
    display: flex;
    justify-content: flex-end;
    width:100%;
    gap:20px ;
    padding-right: 30px;
}
/* Sidebar */
.sidebar {
    width: 200px;
    background: #845cc5;
    padding: 20px;
    color: #fff;
    min-height: 110vh;
    float: left;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    text-decoration: none;
    border-radius: 6px;
    color: #fff;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-content{
    width:89%;
    float: right;
    align-self: center;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 16px;
    background: #845cc5;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background: #6f47a3;
}


.profile-container {
    width: 100%;
    margin: 40px auto;
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-card {
    background: #eeecf3;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: auto;
}

.profile-card h3 {
    margin-bottom: 12px;
   
}

.security-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.status {
    font-weight: bold;
}

.status.enabled {
    color: green;
}

.status.disabled {
    color: red;
}

.action-row {
    text-align: right;
}

.btn {
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn.logout {
    display: block;
    text-align: center;
    background: #845cc5;
    color: #fff;
}