* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1,h2,h3 {
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Button*/
.grp-btn{
    display: flex;
    margin-top: 20px;
    text-align: center;
    gap: 15px;
    width:100%

}
.btn{
    font-weight: bold;
    background: #845cc5;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width:100%;
    text-align: center;
}
.install-btn{
    font-weight: bold;
    background: #845cc5;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.btn-group {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.btn:hover{
    background: #6f47a3;
}  
.btns{
    text-align:center;
}
.google-btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #444;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.google-btn img {
    width: 20px;
    margin-right: 10px;
} 


/* Forms */
form {
    max-width: 600px;
    background: #eeecf3;
    padding: 20px;
    margin: auto;
    border: black;
    border-width: 5px;
    border-radius: 10px;

}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    font-weight: bold;
    padding: 10px 16px;
    background: #845cc5;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
        
.login-container {
    background: #d7d1da ;
    padding: 40px 30px;
    border-radius: 15px;
    border: #ffffff 4px solid ;
    width: 500px;
    height: auto;
}
.sign-in {
    position: relative;
    z-index: 2;
    background: #845cc5;
    border-radius: 10px;
    color: #ffffff;
    width: 20%;
    top: 20px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin: auto;
    
}
.sign-in-2fa{
    position: relative;
    z-index: 2;
    background: #845cc5;
    border-radius: 10px;
    color: #ffffff;
    width: 17%;
    top: 20px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin: auto;
}
  
.error {
    color: red;
    font-size: 0.9em;
}

input {
    width: 100%;
    padding: 12px 40px 12px 40px;
    font-size: 22px;
    transition: 0.3s;
    }

input[type=email],input[type=password],input[type=text] {
    border-radius: 4px;
    border:rgb(80, 70, 127) 2px solid ;
    color:rgb(80, 70, 127);
}
input[type=email]:hover,input[type=password]:hover,input[type=text]:hover {
    border-radius: 4px;
    border:rgb(80, 70, 127) 2px solid ;
    color:rgb(80, 70, 127);
}
p{
    color: rgb(80, 70, 127);
    padding-top:5px;
}
