* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1,h2 {
    text-align: center;
}
.top-bar {
    display:flex;
}
.left-bar {
    display: flex;
    justify-content:flex-start;
    width:50%;
    gap:20px ;
}
.right-bar {
    display: flex;
    justify-content: flex-end;
    width:100%;
    gap:20px ;
    padding-right: 30px;
}
/* Sidebar */
.sidebar {
    width: 230px;
    background: #845cc5;
    padding: 20px;
    color: #fff;
    min-height: 110vh;
    float: left;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    text-decoration: none;
    border-radius: 6px;
    color: #fff;
}

.main-content{
    width:87%;
    float: right;
    align-self: center;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 16px;
    background: #845cc5;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background: #6f47a3;
}

/* Table */
table {
    width: 97%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    padding-top: 20px ;

}

table th {
    background: #845cc5;
    color: white;
    padding: 12px;
    text-align: left;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background: #f0f3ff;
}

/* Action Buttons */
.action-btn {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.edit {
    background: #349b56;
    color: #fff;
}

.delete {
    background: #E84118;
    color: #fff;
}

.restock{
    background: #845cc5;
    color: #fff;
}

/* Forms */
form {
    max-width: 500px;
    background: #eeecf3;
    padding: 20px;
    margin: auto;
    border: black;
    border-width: 5px;
    border-radius: 10px;

}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    padding: 10px 16px;
    background: #845cc5;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background: #6f47a3;
}

p {
    padding-left: 40px;
}

.error {
    color: red !important;
    font-size: 14px;
}

/*Cards*/

.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, minmax(30px,1fr));
    gap:40px;
    
  }

.card-btn {
    background: #eee5fc;
    color: black;
    padding: 2rem;
    text-align: center;
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    max-width: 500px;
    min-height: 100px;
    align-content: center;
    text-decoration: none;
    font-size: 24px;
  }
